/* flex bottom */
.fb{
     position: absolute;
     bottom: 0px;
}

/* berita kampus */
.underline{
     width: 130px;
     height: 10px;
     margin-top: -7px;
     margin-left: -15px;
}
.btn-s{ /* btn selengkapnya */
     width: 175px;
}